.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .slide {
      height: 50vh;
    }
  }
  
  @media (max-width: 480px) {
    .slide {
      height: 30vh;
    }
  }